@model IEnumerable<Test3.Models.Event>
@{
    ViewBag.Title = "Approve";
}

<h2>Approvals</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr @(item.Patron_approval.Equals(0) ? String.Empty : "class=\" danger\"")>
            @*if(item.Event_Aprrove == 0){*@
            <td>
                @Html.DisplayFor(modelItem => item.Event_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Event_ID }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.Event_ID }) |*@
            </td>
            @*}*@
        </tr>
    }
</table>
